@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
body::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 0.2em;
}
body::-webkit-scrollbar {
  width: 1px;
}

/* NORMALIZATION */
html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  position: relative;
  height: 100%;
  margin: 0;
  color: black;
  background-color: white;
}

*, ::after, ::before {
  box-sizing: border-box;
}

table {
  border-collapse: collapse;
}

h1, h2, h3, h4, h5 {
  margin: 0.5em 0;
  font-weight: 600;
  color: inherit;
}

p {
  margin: initial;
}

button, input, optgroup, select, textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

legend {
  width: unset;
  max-width: unset;
  margin: unset;
  padding: unset;
}

@media screen and (min-width: 1280px) and (max-width: 1439px) {
  html {
    font-size: 0.8rem;
  }
}
@media screen and (min-width: 1440px) and (max-width: 1919px) {
  html {
    font-size: 1rem;
  }
}
@media screen and (min-width: 1920px) {
  html {
    font-size: 1.5rem;
  }
}
body::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 0.2em;
}
body::-webkit-scrollbar {
  width: 1px;
}

.header {
  display: flex;
  align-items: center;
  padding: 0.5em 5em;
  gap: 3em;
  background: #30302F;
  font-family: "Source Sans 3", sans-serif;
  font-size: 1.5em;
}
.header__logo {
  flex: 1;
}
.header__logo img {
  height: 4.125rem;
  width: auto;
}
.header__menu {
  display: flex;
  gap: 3em;
}
.header__menu_item {
  text-decoration: none;
  color: white;
}
.header__menu_item.instagram {
  text-decoration: underline;
}
.header__menu_item:hover {
  color: #F8C300;
}
.header__order {
  padding: 0.5em 1em;
  border-radius: 1em;
  border: none;
  filter: drop-shadow(-4px 4px 20px rgba(255, 255, 255, 0.2));
  background: #F8C300;
  color: #000;
  font-weight: 600;
}
.header__order:hover {
  box-shadow: inset 0px 0px 4px 4px #c59b00;
  cursor: pointer;
}

body::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 0.2em;
}
body::-webkit-scrollbar {
  width: 1px;
}

.content {
  display: flex;
  flex-direction: column;
  background: #1E1E1E;
}
.content .main {
  display: flex;
  background: url(../../public/photos/main.jpg) no-repeat center center #1E1E1E;
  background-size: cover;
  height: calc(100vh - 5.5em);
}
@media (min-aspect-ratio: 16/9) {
  .content .main {
    background-size: auto;
  }
}
.content .main__title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 4.5em;
  height: 100%;
  color: #FFF;
  font-family: "Montserrat";
}
.content .main__title h1 {
  width: -moz-fit-content;
  width: fit-content;
  font-size: 3.75rem;
}
.content .main__title h1::before {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  color: #F8C300;
  background: #F8C300;
}
.content .main__title h1::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  color: #F8C300;
  background: #F8C300;
}
.content .main__title h2 {
  font-size: 2.75rem;
}
.content .main__dialog {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: flex-end;
  gap: 3em;
  max-width: 30%;
  padding: 2em 1.5em 2.5em;
  border-radius: 1.375rem;
  border: 2px solid #FFF;
  opacity: 0.9;
  background: #30302F;
  margin: 0 2em 2em auto;
  color: #fff;
}
.content .main__dialog_title {
  text-align: center;
  font-family: Roboto;
  font-size: 1.75rem;
  font-weight: 500;
  line-height: 2.5rem;
  letter-spacing: 0.075rem;
}
.content .main__dialog_button {
  border-radius: 1em;
  border: none;
  color: #000;
  padding: 0.5em 1.5em;
  background: #F8C300;
  font-size: 1.625em;
  font-weight: 500;
}
.content .main__dialog_button:hover {
  box-shadow: inset 0px 0px 4px 4px #c59b00;
  cursor: pointer;
}
.content .main__dialog_contacts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-family: "Roboto";
}
.content .main__dialog_contacts a {
  color: #fff;
  text-decoration: underline;
}

body::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 0.2em;
}
body::-webkit-scrollbar {
  width: 1px;
}

.why-trust {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 6em 7.5em;
  gap: 2em;
  font-family: Roboto;
}
.why-trust__header {
  text-align: center;
  margin-bottom: 1em;
  color: #FFF;
  font-size: 3.25rem;
}
.why-trust__reasons {
  display: flex;
  gap: 2em;
}
.why-trust__reason {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
  border-radius: 0.625rem;
  background: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
}
.why-trust__stats {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 2em;
}
.why-trust__stats_item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #FFF;
  font-family: "Source Sans 3", sans-serif;
}
.why-trust__stats_item .title {
  font-weight: 700;
  font-size: 3.4375rem;
}
.why-trust__stats .line {
  display: block;
  height: 4em;
  width: 0.1em;
  background: #F8C300;
}

body::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 0.2em;
}
body::-webkit-scrollbar {
  width: 1px;
}

.rules {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 7.5em 4em;
  gap: 4em;
  color: #FFF;
}
.rules__header {
  text-align: center;
  font-family: "Montserrat";
  font-size: 3.125rem;
  font-weight: 500;
}
.rules__item {
  display: flex;
  position: relative;
  gap: 5em;
  font-family: "Montserrat";
  padding: 4em 0 0;
}
.rules__item::before {
  content: "";
  position: absolute;
  display: block;
  width: 60%;
  height: 0.1em;
  background: #F8C300;
  top: 0;
}
.rules__item:nth-child(odd) {
  flex-direction: row-reverse;
}
.rules__item_group {
  display: flex;
  flex-direction: column;
  gap: 2.75em;
}
.rules__item_picture {
  width: min(55%, 40.5em);
  height: auto;
  max-height: 25em;
}
.rules__item_title {
  font-weight: 500;
  font-size: 2.2em;
}
.rules__item_text {
  font-family: "Roboto";
  font-size: 1.5em;
}

.inst {
  display: flex;
  flex-direction: column;
  gap: 3em;
  margin-bottom: 4em;
}
.inst__header {
  text-align: center;
  font-family: "Montserrat";
  font-size: 3.125rem;
  font-weight: 500;
}
.inst__items {
  display: flex;
  gap: 5.5em;
  width: 100%;
}
.inst__items img {
  flex: 1;
  height: auto;
  max-height: 70vh;
  width: auto;
  max-width: 25%;
  -o-object-fit: contain;
     object-fit: contain;
  margin: auto;
}
.inst__items img:nth-child(odd) {
  margin-bottom: 3em;
  animation: 4s linear infinite card;
}
.inst__items img:nth-child(2n) {
  margin-top: 3em;
  animation: 4s linear 2s infinite card;
}

@keyframes card {
  0% {
    transform: rotateZ(0deg);
  }
  25% {
    transform: rotateZ(2.5deg);
  }
  50% {
    transform: rotateZ(0deg);
  }
  75% {
    transform: rotateZ(-2.5deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}
body::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 0.2em;
}
body::-webkit-scrollbar {
  width: 1px;
}

.footer {
  display: flex;
  justify-content: space-around;
  padding: 2em 4.5em;
  border-top: 1px solid #F8C300;
  background: #30302F;
  color: #fff;
  font-family: "Roboto";
}
.footer__logo {
  width: min(30%, 25em);
  height: auto;
}
.footer__contacts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.625em;
  gap: 0.5em;
}
.footer__contacts span {
  align-self: start;
  color: #D9D9D9;
}
.footer__contacts a {
  color: #fff;
  text-decoration: underline;
}
.footer__contacts_group {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
}
.footer__contacts_group a {
  color: #fff;
  text-decoration: none;
}

.yellow {
  color: #F8C300;
}