.inst {
  display: flex;
  flex-direction: column;
  gap: 3em;
  margin-bottom: 4em;
}
.inst__header {
  text-align: center;
  font-family: "Montserrat";
  font-size: 3.125rem;
  font-weight: 500;
}
.inst__items {
  display: flex;
  gap: 5.5em;
  width: 100%;
}
.inst__items img {
  flex: 1;
  height: auto;
  width: 25%;
}
.inst__items img:nth-child(odd) {
  margin-bottom: 3em;
  animation: 4s linear infinite card;
}
.inst__items img:nth-child(2n) {
  margin-top: 3em;
  animation: 4s linear 2s infinite card;
}

@keyframes card {
  0% {
    transform: rotateZ(0deg);
  }
  25% {
    transform: rotateZ(2.5deg);
  }
  50% {
    transform: rotateZ(0deg);
  }
  75% {
    transform: rotateZ(-2.5deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}