.inst {
  display: flex;
  flex-direction: column;
  gap: 3em;
  margin-bottom: 4em;
}
.inst__header {
  text-align: center;
  font-family: "Montserrat";
  font-size: 3.125rem;
  font-weight: 500;
}
.inst__items {
  display: flex;
  gap: 5.5em;
  width: 100%;
}
.inst__items img {
  flex: 1;
  height: auto;
  width: 25%;
}
.inst__items img:nth-child(odd) {
  margin-bottom: 3em;
}
.inst__items img:nth-child(2n) {
  margin-top: 3em;
}