.content {
  display: flex;
  flex-direction: column;
  background: #1E1E1E;
}
.content .main {
  display: flex;
  position: relative;
  z-index: 1;
  height: calc(100vh - 5.5em);
}
.content .main::before {
  content: "";
  background: url(../../resources/photos/main.jpg) no-repeat center center #1E1E1E;
  background-size: cover;
  opacity: 0.65;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
@media (min-aspect-ratio: 16/9) {
  .content .main::before {
    background-size: auto 135%;
  }
}
.content .main__title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 4.5em;
  height: 100%;
  color: #d4d4d4;
  font-family: "Montserrat";
}
.content .main__title h1 {
  width: -moz-fit-content;
  width: fit-content;
  font-size: 4.75rem;
  animation: fromleft 2s linear 1;
}
.content .main__title h1::before {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  color: #F8C300;
  background: #F8C300;
}
.content .main__title h1::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  color: #F8C300;
  background: #F8C300;
}
.content .main__title h2 {
  font-size: 2.75rem;
  overflow: hidden;
  white-space: nowrap;
  animation: typewriter 2s steps(40, end);
}
.content .main__dialog {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: flex-end;
  gap: 3em;
  max-width: 30%;
  padding: 2em 1.5em 2.5em;
  border-radius: 1.375rem;
  border: 2px solid #FFF;
  opacity: 0.9;
  background: #30302F;
  margin: 0 2em 2em auto;
  color: #d4d4d4;
}
.content .main__dialog_title {
  text-align: center;
  font-family: Roboto;
  font-size: 1.75rem;
  font-weight: 500;
  line-height: 2.5rem;
  letter-spacing: 0.075rem;
}
.content .main__dialog_button {
  border-radius: 1em;
  border: none;
  color: #000;
  padding: 0.5em 1.5em;
  background: #F8C300;
  font-size: 1.625em;
  font-weight: 500;
}
.content .main__dialog_button:hover {
  box-shadow: inset 0px 0px 4px 4px #c59b00;
  cursor: pointer;
}
.content .main__dialog_contacts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-family: "Roboto";
}
.content .main__dialog_contacts a {
  color: #d4d4d4;
  text-decoration: underline;
}

@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes fromleft {
  from {
    margin-left: -10em;
  }
  to {
    margin-left: 0;
  }
}