.dialog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  position: fixed;
  top: 0;
  opacity: 0;
  pointer-events: none;
  padding: 1em 0 4em 0;
  border-radius: 1.875em;
  border: 5px solid rgba(248, 195, 0, 0.67);
  background: #30302F;
  transition: all 0.5s ease-in-out;
  font-size: 1em;
}
.dialog[open] {
  opacity: 1;
  pointer-events: all;
}
.dialog__close {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 0.5em;
  align-self: flex-end;
  width: 1.5em;
  height: 1.5em;
  color: #d4d4d4;
  font-size: 150%;
}
.dialog__close:hover {
  color: rgb(156, 25, 25);
  cursor: pointer;
}
.dialog__content {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.dialog__content_logo {
  height: 5em;
  width: auto;
  -o-object-fit: contain;
     object-fit: contain;
}
.dialog__content_accept-image {
  height: 2.5em;
}
.dialog__content .accept-button {
  margin: auto;
}
.dialog__content_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5em;
  padding: 0 5.5em;
  margin-bottom: 0.75em;
}
.dialog__content_input {
  height: 2em;
  width: 12.5em;
  border-radius: 1.875em;
  background: #D9D9D9;
  padding: 0.5em 1em;
  font-size: 1.375em;
}
.dialog__content_button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1.875em;
  height: 2em;
  width: 12.5em;
  background: #339837;
  color: #d4d4d4;
  font-family: "Roboto";
  font-size: 1.375em;
  font-weight: 500;
}
.dialog__content_text, .dialog__content_error {
  padding: 0em 2.5em;
  margin: auto;
  max-width: 25.5em;
  text-align: center;
  color: #D9D9D9;
  font-family: "Roboto";
  font-size: 1.25em;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5em;
}
.dialog__content_error {
  color: #9c2a2a;
}
.dialog__content_error:empty {
  display: none;
}
.dialog__content_subtext {
  margin-top: 1.25em;
  margin-bottom: -2.25em;
  padding: 0em 2.5em;
  text-align: center;
  color: #D9D9D9;
  font-family: "Roboto";
  font-size: 1.1875rem;
  font-weight: 500;
  line-height: 1.625rem;
}