.footer {
  display: flex;
  justify-content: space-around;
  padding: 2em 4.5em;
  border-top: 1px solid #F8C300;
  background: #30302F;
  color: #fff;
  font-family: "Roboto";
}
.footer__logo {
  width: min(30%, 25em);
  height: auto;
}
.footer__contacts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.625em;
  gap: 0.5em;
}
.footer__contacts span {
  align-self: start;
  color: #D9D9D9;
}
.footer__contacts a {
  color: #fff;
  text-decoration: underline;
}
.footer__contacts_group {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
}
.footer__contacts_group a {
  color: #fff;
  text-decoration: none;
}