.rules {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 7.5em 4em;
  gap: 4em;
  color: #d4d4d4;
  position: relative;
}
.rules__header {
  text-align: center;
  font-family: "Montserrat";
  font-size: 3.125rem;
  font-weight: 500;
}
.rules__item {
  display: flex;
  position: relative;
  gap: 5em;
  font-family: "Montserrat";
  padding: 4em 0 0;
}
.rules__item::before {
  content: "";
  position: absolute;
  display: block;
  width: 60%;
  height: 0.1em;
  background: #F8C300;
  top: 0;
}
.rules__item:nth-child(odd) {
  flex-direction: row-reverse;
}
.rules__item_group {
  display: flex;
  flex-direction: column;
  gap: 2.75em;
}
.rules__item_picture {
  width: min(55%, 40.5em);
  height: auto;
  max-height: 25em;
}
.rules__item_title {
  font-weight: 500;
  font-size: 2.2em;
}
.rules__item_text {
  font-family: "Roboto";
  font-size: 1.5em;
}