@import '../_/vars.scss';

@import './header.scss';
@import './content.scss';
@import './trust.scss';
@import './rules.scss';
@import './inst.scss';
@import './footer.scss';
@import './dialog.scss';
@import './menu.scss';

@import './gallery.scss';

@include for-phone-only {
	.mobile {
		display: flex;

		&.button {
			position: fixed;
			z-index: 9;
			bottom: 2em;
			right: 2em;

			img {
				width: 4em;
				height: 4em;
			}
		}
	}

	.desktop {
		display: none;
	}
}