$main_grey: #30302F; // 
$main_yellow: #F8C300;
$main_background: #1E1E1E;

%scroll {
	&::-webkit-scrollbar-thumb {
		background: rgba(0, 0, 0, 0.2);
		border-radius: 0.2em;
	}
	&::-webkit-scrollbar {
		width: 1px;
	}
}