@import './_/vars.scss';

.header {
	display: flex;
	align-items: center;

	position: sticky;
	top: -1px;

	padding: .5em 5em;
	gap: 3em;

	background: $main_grey;

	font-family: 'Source Sans 3', sans-serif;
	font-size: 1.5em;

	z-index: 2;

	&__logo {
		flex: 1;

		img {
			height: 4.125rem;
			width: auto;
		}
	}

	&__menu {
		display: flex;

		gap: 3em;

		&_item {
			text-decoration: none;
			color: #d4d4d4;

			&.instagram {
				text-decoration: underline;
			}

			&:hover {
				color: $main_yellow;
			}
		}
	}

	&__order {
		padding: .5em 1em;

		border-radius: 1em;
		border: none;

		filter: drop-shadow(-4px 4px 20px rgba(255, 255, 255, 0.20));
		background: $main_yellow;
		color: #000;
		
		font-weight: 600;

		&:hover {
			// background: darken($main_yellow, 10%);
			box-shadow: inset 0px 0px 4px 4px darken($main_yellow, 10%);
			// color: #d4d4d4;
			cursor: pointer;
		}
	}

}

